<h2>Worlds</h2>
<%= link_to 'New World', new_world_path %>
<ul>
  <% @worlds.each do |world| %>
    <h4>Name: <%= world.name %></h4>
    <li>Created: <%= world.created_at.to_s(:long) %></li>
    <li>Name: <%= world.name %></li>
    <li>Number of Continents: <%= world.number_of_continents %></li>
    <li>Climate: <%= world.climate %></li>
    <li>Inhabitable: <%= world.inhabitable %></li>
    <li>Number of cities: <%= world.cities.count %></li>
    <%= link_to 'Cities', "/worlds/#{world.id}/world_cities" %>
  <% end %>
</ul>
