<p>Name: <%= @world.name %></p>
<p>Number of Continents: <%= @world.number_of_continents %></p>
<p>Climate: <%= @world.climate %></p>
<p>Inhabitable: <%= @world.inhabitable %></p>
<p>Number of cities: <%= @world.cities.count %></p>
<%= link_to 'Cities', "/worlds/#{@world.id}/world_cities" %>