<h2><%= link_to "#{@world.name}", worlds_path %></h2>
<p>Number of Continents: <%= @world.number_of_continents %></p>
<p>Climate: <%= @world.climate %></p>
<p>Inhabitable: <%= @world.inhabitable %></p>
<p>Number of cities: <%= @world.cities.count %></p>
<%= link_to "Show Cities", "/worlds/#{@world.id}/world_cities" %>
<%= link_to "Generate City", generate_city_world_path(@world), method: :post, class: "btn btn-primary" %>
<%= link_to 'Update World', edit_world_path(@world) %>
<%= link_to "Delete World", world_path(@world), method: :delete, data: { confirm: "Are you sure?" } %>
