<h2><%= link_to "#{@city.name}", city_path(@city) %> Inhabitant Portraits</h2>
<%= link_to 'Sort by Name', city_inhabitants_path(@city, sort: 'name') %>

<%= form_with url: city_inhabitants_path(@city), method: :get, local: true do |form| %>
  <%= form.label :min_age, 'Minimum Age:' %>
  <%= form.number_field :min_age, min: 0 %>
  <%= form.submit 'Filter' %>
<% end %>

<ul>
  <% @inhabitants.each do |inhabitant| %>
    <div id="inhabitant-<%= inhabitant.id %>">
    <h3><%= link_to inhabitant.name, inhabitant_path(inhabitant) %></h3>
    <li><b>Age:</b> <%= inhabitant.age %></li>
    <li><b>Married:</b> <%= inhabitant.married %></li>
    <li><b>Role:</b> <%= inhabitant.role %></li>
    <%= link_to 'Edit Inhabitant', edit_inhabitant_path(inhabitant) %><br>
    <%= link_to 'Delete Inhabitant', delete_city_inhabitant_path(@city, inhabitant), method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
</ul>
<%= paginate @inhabitants %>