<h2><%= @city.name %> Inhabitants</h2>
<ul>
  <% @inhabitants.each do |inhabitant| %>
    <h4>Name: <%= inhabitant.name %></h4>
    <li>Age: <%= inhabitant.age %></li>
    <li>Married: <%= inhabitant.married %></li>
    <li>Role: <%= inhabitant.role %></li>
  <% end %>
</ul>