<h2>All Inhabitant Portraits</h1>
<%= link_to 'Sort by Name', inhabitants_path(sort: 'name') %>
<ul>
  <% @inhabitants.each do |inhabitant| %>
    <div id="inhabitant-<%= inhabitant.id %>">
    <h3><%= link_to inhabitant.name, inhabitant_path(inhabitant) %></h3>
    <li>Age: <%= inhabitant.age %></li>
    <li>Married: <%= inhabitant.married %></li>
    <li>Role: <%= inhabitant.role %></li>
    <%= link_to 'Edit Inhabitant', edit_inhabitant_path(inhabitant) %><br>
    <%= link_to 'Delete Inhabitant', inhabitant_path(inhabitant), method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
</ul>
<%= paginate @inhabitants %>