<h2>All Cities</h2>
<%= link_to 'New City', new_city_path %>
<ul>
  <% @cities.each do |city| %>
    <h3>Name: <%= city.name %></h3>
    <li>Created: <%= city.created_at.to_s(:long) %></li>
    <li>Population: <%= city.population %></li>
    <li>Technological Level: <%= city.technological_level %></li>
    <li>Inhabited: <%= city.inhabited %></li>
    <li>Number of inhabitants: <%= city.inhabitants.count %></li>
    <%= link_to 'Inhabitants', "/cities/#{city.id}/city_inhabitants" %>
  <% end %>
</ul>
