<h2>All Cities</h2>
<%= link_to 'New City', new_city_path %><br>
<%= link_to 'Sort by Name', cities_path(sort: 'name') %>
<ul>
  <% @cities.each do |city| %>
    <div id="city-<%= city.id %>">
    <h3><%= link_to city.name, city_path(city) %></h3>
    <li><b>Created:</b> <%= city.created_at.to_s(:long) %></li>
    <li><b>Population:</b> <%= city.population %></li>
    <li><b>Technological Level:</b> <%= city.technological_level %></li>
    <li><b>Inhabited:</b> <%= city.inhabited %></li>
    <li><b>Number of inhabitants:</b> <%= city.inhabitants.count %></li>
    <%= link_to 'Inhabitants', "/cities/#{city.id}/city_inhabitants" %><br>
    <%= link_to 'Edit City', edit_city_path(city) %><br>
    <%= link_to 'Delete City', city_path(city), method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
</ul>
