<% if @world %>
  <h2>New City for <%= @world.name %></h2>
<% else %>
  <h2>New City</h2>
<% end %>

<%= form_with model: @world ? [@world, @city] : @city, local: true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :population %>
  <%= f.number_field :population %>

  <%= f.label :technological_level %>
  <%= f.number_field :technological_level %>

  <%= f.label :inhabited %>
  <%= f.check_box :inhabited %>

  <% if @world %>
    <%= f.hidden_field :world_id, value: @world.id %>
  <% else %>
    <%= f.label :world_id, "World" %>
    <%= f.select :world_id, World.all.collect { |world| [world.name, world.id] } %>
  <% end %>

  <%= f.submit 'Create City' %>
<% end %>