<h2><%= link_to "#{@city.name}", world_cities_path(@city.world) %></h2>
<p>World: <%= link_to "#{@city.world.name}", show_world_path(@city.world) %></p>
<p>Population: <%= @city.population %></p>
<p>Technological Level: <%= @city.technological_level %></p>
<p>Inhabited: <%= @city.inhabited %></p>
<p>Inhabitant portraits: <%= @city.inhabitants.count %></p>
<%= link_to "Show Inhabitant Portraits", "/cities/#{@city.id}/city_inhabitants" %>
<%= link_to "Generate Inhabitant Portraits", generate_inhabitants_city_path(@city), method: :post, class: "btn btn-primary" %>
<%= link_to 'Update City', edit_city_path(@city) %>
<%= link_to "Delete City", city_path(@city), method: :delete, data: { confirm: "Are you sure?" } %>
<%= paginate @inhabitants %>

