<h2><%= @world.name %> Cities</h2>
<%= link_to 'New City', new_world_city_path(@world) %><br>
<%= link_to 'Sort by Name', world_cities_path(world_id: @world.id, sort: 'name') %> 

<%= form_with url: world_cities_path(@world), method: :get, local: true do |form| %>
  <%= form.label :min_population, 'Minimum Population:' %>
  <%= form.number_field :min_population, min: 0 %>
  <%= form.submit 'Filter' %>
<% end %>

<ul>
  <% @cities.each do |city| %>
    <h3><%= link_to city.name, city_path(city) %></h3>
    <li><b>Created:</b> <%= city.created_at.to_s(:long) %></li>
    <li><b>Population:</b> <%= city.population %></li>
    <li><b>Technological Level:</b> <%= city.technological_level %></li>
    <li><b>Inhabited:</b> <%= city.inhabited %></li>
    <li><b>Number of inhabitants:</b> <%= city.inhabitants.count %></li>
    <%= link_to 'Inhabitants', "/cities/#{city.id}/city_inhabitants" %>
  <% end %>
</ul>