<h2><%= @world.name %> Cities</h2>
<ul>
  <% @cities.each do |city| %>
    <h4>Name: <%= city.name %></h4>
    <li>Created: <%= city.created_at.to_s(:long) %></li>
    <li>Population: <%= city.population %></li>
    <li>Technological Level: <%= city.technological_level %></li>
    <li>Inhabited: <%= city.inhabited %></li>
    <li>Number of inhabitants: <%= city.inhabitants.count %></li>
    <%= link_to 'Inhabitants', "/cities/#{city.id}/city_inhabitants" %>
  <% end %>
</ul>