<h2><%= @world.name %> Cities</h2>
<%= link_to 'New City', new_world_city_path(@world) %><br>
<%= link_to 'Sort by Name', world_cities_path(world_id: @world.id, sort: 'name') %> 
<ul>
  <% @cities.each do |city| %>
    <h3><%= link_to city.name, city_path(city) %></h3>
    <li>Created: <%= city.created_at.to_s(:long) %></li>
    <li>Population: <%= city.population %></li>
    <li>Technological Level: <%= city.technological_level %></li>
    <li>Inhabited: <%= city.inhabited %></li>
    <li>Number of inhabitants: <%= city.inhabitants.count %></li>
    <%= link_to 'Inhabitants', "/cities/#{city.id}/city_inhabitants" %>
  <% end %>
</ul>